<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<div class="col-md-4 col-md-offset-4">
		<div>
			<center>
				<h1>👋WELCOME!</h1>
				<h3>Email Address: <%= email %></h3>
			</center>
			<img src="http://leadershipcrew.com/wp-content/uploads/2015/01/good-job.jpg" alt="goodjob-jpg" width="500" height="500">

		</div>
		<br>
		<div class="abc">
			<a href="/logout">Sign out</a>
		</div>
	</div>
</body>
</html>